

div{
    text-align: center;
}

div i{
    font-size: 10rem;
    color: rgb(88,56,16);
}



.fa-bell{
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: shake;
    animation-duration: .1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.fa-dollar-sign{
    animation: snake .4s ease-in-out infinite alternate;
}


@keyframes shake {
    0%{
        transform: rotate(15deg);
        transform-origin: top ;

    }

    100%{
        transform: rotate(-15deg);
        transform-origin: top;
        color: orange;
    }
}

@keyframes snake{
    from{
        transform:rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}